.navbar div ul li :hover {
    color: rgb(0, 255, 0);
}

a :hover {
    color: rgb(0, 255, 0);
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000000000000;
    font-size: 15px;
}

.nav-item a {
    color: white;
}