<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color" style="background: black;">
    <a class="navbar-brand ml-4" href="#"><img src="assets/img/Labsus_Logotipo_Blanco y verde_PNG.png" width="150px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item  ml-5">
                <a class="nav-link font-bold" href="#quienes-somos"><b>QUIÉNES <span class="font-black" >SOMOS</span></b></a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link font-bold" href="#que-hacemos"><b>QUÉ <span class="font-black">HACEMOS</span> </b> </a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link font-bold" href="#como-lo-realizamos"><b>CÓMO LO <span class="font-black">REALIZAMOS</span> </b> </a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link font-bold" href="#nuestros-resultados"> <b>NUESTROS <span class="font-black">RESULTADOS</span></b></a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link font-bold" href="#resolvamoslo"> <b>RESOLVÁMOSLO</b> </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-twitter " style="font-size: 25px;padding-top: 5px; "></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" style="font-size: 20px; ">

                    <a class="fab fa-facebook mr-2" href="https://www.facebook.com/labsuscl"></a>


                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light mr-4" style="font-size: 20px; ">
                    <a class="fab fa-instagram mr-2" href="https://www.instagram.com/labsuscl/"></a>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135449644-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-135449644-1');
</script>