* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

footer {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    text-align: center;
    width: 100%;
    ;
}