<footer class="main">

    <div>
        <p class="animated flipInX delay:1s;" style="font-size: 45px;color: white;padding-top: 257px;"> Ya lo intentamos con pallets, <br>y lo logramos.</p>
        <p class="animated fadeInLeft delay:1s;" style="font-size: 45px; color: rgb(0,255,0)"> ¡Trabajemos juntos!</p>

    </div>

    <div class="card  animated fadeInLeft delay:1s;" style="background-color: black; float: left; margin-left: 330px;">
        <div class="card-body" style="background-color: black;">
            <p style="font-size: 20px;color: white"><b>Contacto</b></p>
            <button type="button" class="btn btn-outline-success" style=" color:white ; ">Success</button>
            <p style="color: white; font-size:20px; ">Contacto@labsus.cl
                <br> +56 968 999 875</p>
        </div>
    </div>

    <div class="card  animated fadeInDown delay:1s" style="background-color: black; float: left; ">
        <div class="card-body" style="background-color: black;">
            <p style="font-size: 20px;color: white"><b>DIRECCIÓN</b></p>
            <p style="color: white;">-----------</p>
            <p style="color: white; font-size:20px; ">Profesor Zañartu 900,
                <br> Recoleta</p>
        </div>
    </div>

    <div class="card animated fadeInRight delay:1s; " style="background-color: black; float: left; ">
        <div class="card-body" style="background-color: black;">
            <p style="font-size: 20px;color: white"><b>HORARIO</b></p>
            <p style="color: white;">-----------</p>
            <p style="color: white; font-size:20px; ">Lunes a viernes<br> 10AM - 18PM</p>
        </div>
    </div>
    <div style="padding-bottom: 5%;">
        <img class="img-responsive animated pulse delay:1s" src="assets/img/05Artboard 1.png" width="35%" height="30%;">
    </div>


</footer>

<footer class="home-mobile">

    <div class="first-text-footer " style="padding-top: 10%;">


        <p class="animated flipInX delay:1s font-black" style="font-size: 20px;color: white;"> Ya lo intentamos con pallets, <br>y lo logramos.</p>
        <p class="animated fadeInLeft delay:1s  font-black" style="font-size: 20px; color: rgb(0,255,0)"> ¡Trabajemos juntos!</p>

    </div>

    <div class="">

        <div class="card  animated fadeInLeft delay:1s;" style="background-color: black; float: left; ">
            <div class="card-body" style="background-color: black;">
                <p style="font-size: 10px;color: white"><b>CONTACTO</b></p>
                <button type="button" class="btn btn-outline-success" style=" color:white ; font-size: 10px; ">Contactanos</button>
                <p class="mt-2" style="color: white; font-size:7px; ">Contacto@labsus.cl
                    <br> +56 968 999 875</p>
            </div>
        </div>

        <div class="card  animated fadeInDown delay:1s" style="background-color: black; float: left; ">
            <div class="card-body" style="background-color: black;">
                <p style="font-size: 10px;color: white"><b>DIRECCIÓN</b></p>
                <p style="color: white;">-----------</p>
                <p style="color: white; font-size:7px; ">Profesor Zañartu 900,
                    <br> Recoleta</p>
            </div>
        </div>

        <div class="card animated fadeInRight delay:1s; " style="background-color: black; float: left; ">
            <div class="card-body" style="background-color: black;">
                <p style="font-size: 10px;color: white"><b>HORARIO</b></p>
                <p style="color: white;">-----------</p>
                <p style="color: white; font-size:7px; ">Lunes a viernes<br> 10AM - 18PM</p>
            </div>
        </div>

    </div>



    <div style="padding-bottom: 20px;">
        <img class="img-responsive animated pulse delay:1s" src="assets/img/05Artboard 1.png" width="50%" height="30%;">
    </div>


</footer>