<footer>

    <div>
        <p style="font-size: 45px;color: white;padding-top: 257px;"> <b>Ya lo intentamos con pallets, <br>y lo logramos.</b></p>
        <p style="font-size: 45px; color: rgb(0,255,0)"> <b>¡Trabajemos juntos!</b></p>

    </div>

    <div class="card " style="background-color: black; float: left; margin-left: 330px;">
        <div class="card-body" style="background-color: black;">
            <p style="font-size: 20px;color: white"><b>Contacto</b></p>
            <p style="color: white;">-----------</p>
            <p style="color: white; font-size:20px; ">Contacto@labsus.cl
                <br> +56 968 999 875</p>
        </div>
    </div>

    <div class="card " style="background-color: black; float: left; ">
        <div class="card-body" style="background-color: black;">
            <p style="font-size: 20px;color: white"><b>DIRECCIÓN</b></p>
            <p style="color: white;">-----------</p>
            <p style="color: white; font-size:20px; ">Profesor Zañartu 900,
                <br> Recoleta</p>
        </div>
    </div>

    <div class="card " style="background-color: black; float: left; ">
        <div class="card-body" style="background-color: black;">
            <p style="font-size: 20px;color: white"><b>HORARIO</b></p>
            <p style="color: white;">-----------</p>
            <p style="color: white; font-size:20px; ">Lunes a viernes<br> 10AM - 18PM</p>
        </div>
    </div>
    <div style="padding-bottom: 5%;">
        <img src="assets/img/05Artboard 1.png" width="35%" height="30%;">
    </div>


</footer>